<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Desenvolvimento de site, Tema Wordpress, Front-end, PSD to HTML">
  <meta name="author" content="Rafael Ferreira - Desenvolvedor Web Site">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} - Desenvolvedor Ruby on Rails</title>
  <link href="{{ "/favicon.ico" | prepend: site.baseurl }}" rel="shortcut icon" type="image/x-icon" />
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css'>
  <link rel="canonical" href="http://rafa.site" />
</head>
