@import "../../../utilities/variables";

.card {
  padding: 2rem;
  margin: 0.5rem 2.2rem;
  border-radius: 60px;
  border: 4px solid $info;
}
.card-footer {
  background-color: #fff;
  border-top: 0px;
  font-size: 0.875rem;
  color: $info;
}
