$primary-color: #13171a;
$secundary-color: #111315;
$details-color: #325994;

* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}
body {
  background-color: $primary-color;
}
.navbar-layout {
  border-radius: 0;
  background-color: $secundary-color;
  .navbar-collapse {
    text-align: center;
  }
  .navbar-nav {
    float: none;
    display: inline-block;
    li {
      margin-left: 10px;
    }
    a {
      color: #FFF;
      font-size: 2em;

      &:hover {
        background-color: $secundary-color;
        color: $details-color;
      }
      &:focus {
        background-color: $secundary-color;
      }
    }
  }
}
