h1,
h2,
h3,
h4,
h5 {
    font-weight: 100;
}

.service {
    padding-top: 20px;
    padding-bottom: 20px;
}

.service h3,
.service .icon {
    text-align: center;
}

.service:hover {
    background-color: #0275d8;
    color: #FFF;
}

.icon {
    font-size: 75px;
    padding: 20px;
}

.projects-home {
    margin-top: 50px;
}

.title-section h1 {
    margin-bottom: 10px;
    padding: 30px;
    background-color: #0275d8;
    color: #FFF;
}

.card-img-container {
    text-align: center;
}

.icons-social {
    font-size: 25px;
    color: #a9a9a9;
    text-decoration: none;
}

.icons-social:hover {
    text-decoration: none;
}

.card-block {
    padding: 1.25rem;
}

.card {
    margin-bottom: 0.75rem;
}