<main class="container mt-5">
  <section class="top-site row">
    <div class="col-md-7 col-lg-7 col-sm-12">
      <h1 [innerHTML]="'HOME.PROFESSIONAL_DESIGN' | translate" class="top-site__title mb-3"></h1>
      <div class="top-site__description">
        <p [innerHTML]="'HOME.HELLO_THERE' | translate"></p>
        <p [innerHTML]="'HOME.ROLE_DESCRIPTION' | translate"></p>
        <p [innerHTML]="'HOME.I_HELP' | translate"></p>
      </div>
      <div class="top-site__availability">
        <div class="top-site__availability__blob"></div> {{'HOME.CURRENTLY_AVAILABLE' | translate}}
      </div>
      <a target="_blank" href="/assets/rafael_ferreira_resume.pdf" [innerHTML]="'HOME.MY_RESUME' | translate" class="btn btn-outline-primary btn-resume"></a>
      <a href="mailto:contato@rafaelferreira.info" class="btn btn-primary ms-3">{{'HOME.HIRE_ME' | translate}}</a>
    </div>
    <div class="col col-md-5 col-lg-5 d-none d-md-block text-center">
      <img src="/assets/img/design-profile-circles.svg" alt="circles">
    </div>
  </section>
  <section id="my-skills" class="my-skills mt-5">
    <div class="row">
      <div class="col-12">
        <app-section-title
        [subTitle]="'HOME.LITTLE_BIT'"
        [mainTitle]="'HOME.MY_SKILLS'"></app-section-title>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4">
        <app-progress-bar [title]="'PRODUCT_DESIGN' | translate" [percentage]="60"></app-progress-bar>
      </div>
      <div class="col-12 col-md-4">
        <app-progress-bar [title]="'UI_DESIGN' | translate" [percentage]="100"></app-progress-bar>
      </div>
      <div class="col-12 col-md-4">
        <app-progress-bar title="Adobe Photoshop & Illustrator" [percentage]="80"></app-progress-bar>
      </div>

    </div>
    <div class="row">
      <div class="col-12 col-md-4">
        <app-progress-bar title="StencilJS (Web components)" [percentage]="80"></app-progress-bar>
      </div>
      <div class="col-12 col-md-4">
        <app-progress-bar title="Angular & Ionic (RxJS)" [percentage]="100"></app-progress-bar>
      </div>
      <div class="col-12 col-md-4">
        <app-progress-bar title="React & React Native" [percentage]="50"></app-progress-bar>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4">
        <app-progress-bar title="NestJS" [percentage]="50"></app-progress-bar>
      </div>
      <div class="col-12 col-md-4">
        <app-progress-bar title="C# / .NET Core" [percentage]="60"></app-progress-bar>
      </div>
      <div class="col-12 col-md-4">
        <app-progress-bar title="Java / Spring" [percentage]="50"></app-progress-bar>
      </div>
    </div>
  </section>
  <section id="extra-stuff" class="extra-stuff mt-3">
    <div class="row">
      <div class="col-12">
        <app-section-title
        [subTitle]="'HOME.A_COUPLE_OF'"
        [mainTitle]="'HOME.EXTRA_STUFF'"></app-section-title>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-4">
       <app-card [footer]="'HOME.MORE_THAN_1_MILLION' | translate">
        <p>{{'HOME.VERSATILE_WORKING' | translate}}</p>
        <img src="/assets/img/icons-stuff.svg" alt="versatile-work">
       </app-card>
      </div>
      <div class="col-12 col-lg-4">
        <app-card [footer]="'HOME.8_YEARS_XP' | translate">
          <img style="margin: 2.7rem 0;" src="/assets/img/years-card.svg" alt="years-experience">
        </app-card>
       </div>
       <div class="col-12 col-lg-4">
        <app-card [footer]="'HOME.EVERYTIME_UX_PROCESS' | translate">
          <img style="margin: 0.7rem 0;" src="/assets/img/steps-ux-process.svg" alt="ux-process">
        </app-card>
       </div>
    </div>
  </section>
  <section id="my-work" class="my-work mt-3 mb-5">
    <div class="row">
      <div class="col-12">
        <app-section-title
        [subTitle]="'HOME.NOW_MAIN_STUFF'"
        [mainTitle]="'HOME.MY_WORK'"></app-section-title>
      </div>
    </div>
    <div class="row">
      <div class="my-work__col col-12 col-md-6 text-center">
        <img class="img-fluid my-work__img" src="/assets/img/projects/portfolio-logo.svg" alt="portfolio-logo-image">
        <div class="mt-3">
          <h4>
            <a target="_blank" href="https://www.figma.com/file/D3srvHfz5HNvmBQqQWwxmf/Portfolio?node-id=8%3A141">{{'HOME.MY_PORTFOLIO_LOGO' | translate}}</a>
          </h4>
          <p>
            {{'HOME.MY_PORTFOLIO_LOGO_DESCRIPTION' | translate}}
          </p>
        </div>
      </div>
      <div class="my-work__col col-12 col-md-6 text-center">
        <img class="img-fluid my-work__img" src="/assets/img/projects/cadastro-simples.svg" alt="cadastro-simples-app-image">
        <div class="mt-3">
          <h4>
            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.ionicframework.cadastroclientessimples118824">{{'HOME.CUSTOMER_REGISTRATION_APP' | translate}}</a>
          </h4>
          <p>{{'HOME.CUSTOMER_REGISTRATION_APP_DESCRIPTION' | translate}}</p>
        </div>
      </div>
      <div class="my-work__col col-12 col-md-6 text-center mt-3">
        <img class="img-fluid my-work__img" src="/assets/img/projects/medical.svg" alt="atestado-online">
        <div class="mt-3">
          <h4>
            <a target="_blank" href="https://github.com/rafaelblink/atestados-online-angular-electron-spring">{{'HOME.MEDICAL_APP' | translate}}</a>
          </h4>
          <p>{{'HOME.MEDICAL_APP_DESCRIPTION' | translate}}</p>
        </div>
      </div>
    </div>
  </section>
</main>
