<nav class="navbar navbar-footer navbar-expand-lg bg-primary d-none d-lg-block">
  <div class="container">
    <p class="text-white justify-content-start m-0">
      © <b>2021</b> Rafael Ferreira
    </p>
    <div class="navbar-collapse justify-content-end">
      <ul class="navbar-nav align-items-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Work</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
