.navbar-footer {
  font-size: 1rem;
  .nav-link {
    text-transform: uppercase;
    color: white;
    margin-right: 1rem;
    padding-bottom: 0;
    padding-top: 0;
    &:hover {
      text-decoration: underline;
    }
  }
}
